/*
 * @package compact-js-music-player
 * @author sayantanm19
 * @author zwiebus
*/
/* Use body only if the player isn't integrated into your website */

body {
        background-color: #393942;
        font-family: OpenSans;
        font-size: 15px;
}

#fileInput, #player {
        display: none;
}
.error {
        opacity: 1;
        transition: opacity 0.5s ease;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 13px;
        width: 307px;
        padding: 10px;
        color: #f99090;
        text-align: left;
        background: #393942;
        border: 1px solid #4f525a;
        border-radius: 3px;
        z-index: 990;
}
.error.fading-out {
        opacity: 0;
}
.closeerror {
        position: absolute;
        top: 6px;
        right: 3px;
        font-size: 16px;
        font-weight: bold;
        background: #393942;
        padding: 0 5px;
        border: 1px solid #4f525a;
        border-radius: 5px;
        z-index: 1000;
        cursor: pointer;
}
.closeerror:hover, .savepls:hover {
        background: #41414b;
}
.savepls {
        position: absolute;
        top: 143px;
        right: 10px;
        font-size: 14px;
        z-index: 2000;
}
/*Display cover when hover playlist track */
.tooltipimg .cover {
        display:none;
}
.tooltipimg .cover img {
        max-height: 80px;
        max-width: 80px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 999;
}
.tooltipimg:hover .cover {
        display: block;
        position: absolute;
        bottom: 1px;
        right: 7px;
        z-index:1000;
}
.player {
        position: relative;
        color: #d8dbe7;
        background: url('../img/light_transpa.png');
        background-color: #393942;
        margin: 0 auto; /* Use only if the player isn't integrated into your website */
        width: 340px;
        border: 1px solid #4f525a;
        border-radius: 6px;
        box-sizing: border-box;
}
/* .newplaylist {
} */

.playlist, .newplaylist {
        position: relative;
        scrollbar-color: #777 #888;   /* Firefox */
        scrollbar-width: thin;
        font-size: 13px;
        background: #3e3e46;
        overflow-y: auto;
        /*overflow-x: hidden; /* comment in if you wish autoscroll for long tracknames.
        don't forget to also comment in "autoscrollPls();" in main.js */
        height: auto;
        max-height: 200px;
        width: 326px;
        margin: 6px;
        border: 1px solid #4f525a;
        border-radius: 3px;
        box-sizing: border-box;
        opacity: 0.9;
        z-index: 900;
}
.playlist::-webkit-scrollbar, .newplaylist::-webkit-scrollbar  {
        width: 8px;
}
.playlist::-webkit-scrollbar-track, .newplaylist::-webkit-scrollbar-track {
        background: #888;
        box-shadow: inset 0 0 2px #ffe;
        -webkit-border-radius: 8px;
        border-radius: 8px;
}
.playlist::-webkit-scrollbar-thumb, .newplaylist::-webkit-scrollbar-thumb {
        background: #777;
        -webkit-border-radius: 8px;
        border-radius: 8px;
}
.playlist::-webkit-scrollbar-thumb:hover, .newplaylist::-webkit-scrollbar-thumb:hover {
        background: #555;
}
.playlist::-webkit-scrollbar-thumb:active, .newplaylist::-webkit-scrollbar-thumb:active {
        background: #444;
}
.track-name {
        color: #fff;
        font-size: 16px;
        margin-top: 5px;
        padding: 0 4px;
        height: 38px;
        text-align: center;
}
.showhide {
        cursor: pointer;
        color: #eff0f5;
        text-align: center;
        text-decoration: none;
        background: #5a5b64;
        padding: 3px 6px;
        border-radius: 6px;
        -webkit-box-shadow: rgb(255 255 255 / 12%) 0 2px 2px 0 inset;
        box-shadow: rgb(255 255 255 / 12%) 0 2px 2px 0 inset;
}
.showhide:hover, .file:hover {
        color: #f3f3f7;
        background: #4e4f58;
}
.bg {
        margin-left: 4px;
        margin-right: 3px;
}
.file {
        margin-left: 3px;
        margin-right: 3px;
}
.details {
        display: flex;
        align-items: center;
        justify-content: center;
}
.buttons {
        display: flex;
        justify-content: center;
        align-items: center;
}
.playpause-track, .prev-track, .next-track {
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
}
.track-number {
        /*white-space: nowrap; /* comment out if you wish autoscroll for long tracknames.
        don't forget to also comment in "autoscrollPls();" in main.js */
        border-bottom: 1px solid #4f525a;
        padding: 1px 4px;
        box-sizing: border-box;
        cursor: pointer;
}
.track-number:hover {
        background: #4c4f58;
}
.track-number:last-child {
        border-bottom: none;
}
.autoscroll {
        animation: autoscroll 10s 1s linear alternate;
}
@keyframes autoscroll {
        0% {transform: translateX(0);}
        100% {transform: translateX(-100%);}
}
.active {
        color: #a1d4ff;
        background: #434853;
}
.small {
        font-size: 13px;
}
.slider_container {
        display: flex;
        align-items: center;
}
.volume_slider, .seek_slider {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        height: 6px;
        background: #8a8ba7;
        border-radius: 5px;
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
        z-index: 120;
}
.volume_slider {
        width: 150px;
}
.seek_slider {
        width: 250px;
}
.volume_slider::-webkit-slider-thumb, .seek_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 20px;
        background: #a1d4ff;
        color:#7fb2ff;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 30%;
}
input[type="range"]::-moz-range-thumb {  /* Firefox  */
        width: 11px;
        height: 19px;
        background: #a1d4ff;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 30%;
}
.playpause-track:hover, .prev-track:hover, .next-track:hover, .volume_slider:hover, .seek_slider:hover {
        opacity: 1.0;
}
.fa-volume-xmark, .fa-volume-high {
        padding: 10px 5px;
        font-size: 18px;
}
.volumevalue, .tracknumber {
        width: 42px;
}
.tracknumber {
        margin-right: -15px;
        margin-left: 14px
}
.volumevalue {
        margin: 0 10px;
}
.times {
        margin-bottom: 10px;
       /* Prevent line break when displaying total-duration as 'NaN' */
        white-space: nowrap;
        overflow: hidden;
}
.current-time, .total-duration {
        margin: 0 15px;
}
.fa-play-circle, .fa-pause-circle, .fa-step-forward, .fa-step-backward {
        font-size: 22px;
        padding: 0 14px;
        cursor: pointer;
}
.fa-xmark {
        font-size: 18px;
        margin-top: 2px;
}
.fa, .tracknumber, .current-time, .total-duration, .volumevalue {
        color: #a1d4ff;
}
.fa-radio {
        position:absolute;
        right:5px;
        margin-top:2px
}
.fa-file-audio {
        font-size: 16px;
        margin-top: 1px;
}
