/*
 * @package compact-js-music-player
 * @author sayantanm19
 * @author Zwiebus
*/
/* Use body only if the player isn't integrated into your website */

body {
        background-color: #393942;
}

#fileInput, #player {
        display: none;
}
.file {
        position: absolute;
        top: 44px;
        right: 5px;
}
.error {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 13px;
        width: 287px;
        padding: 10px;
        color: #f99090;
        text-align: left;
        background: #393942;
        border: 1px solid #4f525a;
        border-radius: 3px;
        z-index: 990;
}
.closeerror {
        position: absolute;
        top: 7px;
        right: 5px;
        font-size: 16px;
        font-weight: bold;
        background: #393942;
        padding: 0 5px;
        border: 1px solid #4f525a;
        border-radius: 5px;
        z-index: 1000;
        cursor: pointer;
}
.closeerror:hover {
        background: #41414b;
}
/*Display cover when hover playlist track */
.tooltipimg .cover {
        display:none;
}
.tooltipimg .cover img {
        max-height: 80px;
        max-width: 80px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 999;
}
.tooltipimg:hover .cover {
        display: block;
        position: absolute;
        bottom: 1px;
        right: 7px;
        z-index:1000;
}
.player {
        position: relative;
        color: #d8dbe7;
        font-size: 14px;
        font-family: OpenSans;
        background-color: #393942;
        margin: 0 auto; /* Use only if the player isn't integrated into your website */
        width: 320px;
        border: 1px solid #4f525a;
        border-radius: 6px;
        box-sizing: border-box;
}
.playlist {
        scrollbar-color: #777 #888;   /* Firefox */
        scrollbar-width: thin;
        background: #3e3e46;
        overflow-y: auto;
        /* overflow-x: hidden; /* comment in if you wish autoscroll for long trackmames */
        max-height: 250px;
        margin: 6px;
        border: 1px solid #4f525a;
        border-radius: 3px;
        box-sizing: border-box;
        outline-offset: -2px;
}
.playlist::-webkit-scrollbar {
        width: 8px;
}
.playlist::-webkit-scrollbar-track {
        background: #888;
        box-shadow: inset 0 0 2px #ffe;
        -webkit-border-radius: 8px;
        border-radius: 8px;
}
.playlist::-webkit-scrollbar-thumb {
        background: #777;
        -webkit-border-radius: 8px;
        border-radius: 8px;
}
.playlist::-webkit-scrollbar-thumb:hover {
        background: #555;
}
.playlist::-webkit-scrollbar-thumb:active {
        background: #444;
}
.track-name {
        color: #fff;
        font-size: 16px;
        margin-top: 5px;
        height: 38px;
        text-align: center;
}
.showhide {
        cursor: pointer;
        color: #eff0f5;
        text-align: center;
        background: #5a5b64;
        padding: 3px 6px;
        border-radius: 6px;
        margin-bottom: 10px;
        margin-top: -3px;
        -webkit-box-shadow: rgb(255 255 255 / 10%) 0 2px 2px 0 inset;
        -moz-box-shadow: rgb(255 255 255 / 10%) 0 2px 2px 0 inset;
        box-shadow: rgb(255 255 255 / 10%) 0 2px 2px 0 inset;
}
.showhide:hover, .file:hover {
        color: #f3f3f7;
        background: #4e4f58;
}
.details {
        display: flex;
        align-items: center;
        justify-content: center;
}
.buttons {
        display: flex;
        justify-content: center;
}
.playpause-track, .prev-track, .next-track {
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
}
.track-number {
        width: 100%; /* set to 200% with autoscroll */
        /*white-space: nowrap; /* comment in if you wish autoscroll for long tracknames */
        line-height: 20px;
        border-bottom: 1px solid #4f525a;
        padding-left: 4px;
        box-sizing: border-box;
        cursor: pointer;
}
.track-number:last-child {
        border: none;
}
.track-number:hover {
        background: #4c4f58;
}
/* If you wish to autoscroll the title of a track when its too long for the playlist
   add 'autoscroll' to class"track-number" in index.html
   Optional add 'small' to change font size */
.autoscroll {
        animation: autoscroll 10s 1s linear alternate;
}
@keyframes autoscroll {
        0% {transform: translateX(0);}
        100% {transform: translateX(-100%);}
}
.active {
        color: #fff;
        background: #585c64;
}
.small {
        font-size: 12px;
}
.slider_container {
        display: flex;
        margin-top: -6px;
        align-items: center;
}
.volume_slider, .seek_slider {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 6px;
        background: #8a8ba7;
        border-radius: 5px;
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
        z-index: 120;
}
.volume_slider {
        width: 140px;
}
.seek_slider {
        width: 195px;
}
.volume_slider::-webkit-slider-thumb, .seek_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearence: none;
        appearance: none;
        width: 12px;
        height: 20px;
        background: #a1d4ff;
        color:#7fb2ff;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 30%;
}
input[type="range"]::-moz-range-thumb {  /* Firefox  */
        width: 11px;
        height: 19px;
        background: #a1d4ff;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 30%;
}
.playpause-track:hover, .prev-track:hover, .next-track:hover, .volume_slider:hover, .seek_slider:hover {
        opacity: 1.0;
}
.fa-volume-xmark, .fa-volume-high {
        padding: 10px 5px;
        font-size: 18px;
        min-width: 15px;
        max-width: 25px;
}
.volumevalue, .tracknumber {
        width: 40px;
}
.tracknumber {
        margin-right: -15px;
        margin-left: 14px
}
.volumevalue {
        margin :0 10px;
}
.times {
        margin-bottom: 10px;
       /* Prevent line break when displaying total-duration as 'NaN' */
        white-space: nowrap;
        overflow: hidden;
}
.current-time, .total-duration {
        margin: 0 10px;
        width: 30px;
}
.total-duration {
        margin-left: 5px;
        margin-right: 15px;
}
.fa-play-circle, .fa-pause-circle, .fa-step-forward, .fa-step-backward {
        font-size: 22px;
        padding: 0 14px;
        cursor: pointer;
}
.fa-xmark {
        font-size: 18px;
        margin-top: 2px;
}
.fa, .tracknumber, .current-time, .total-duration, .volumevalue {
        color: #a1d4ff;
}


