/* 
body{
        background-color: #393942;
}
*/
.player {
        color: #d8dbe7;
        font-size: 14px;
        font-family: OpenSans;                               
        background-color: #393942;
        margin: 0 auto;
        padding-bottom: 6px;
        width: 320px;
        height: 100%;
        border: 1px solid #4f525a;
        border-radius: 6px;
        overflow: hidden;
    /* -webkit-box-shadow: rgb(255 255 255 / 10%) 0 3px 3px 0 inset;
        -moz-box-shadow: rgb(255 255 255 / 10%) 0 3px 3px 0 inset;
        box-shadow: rgb(255 255 255 / 10%) 0 3px 3px 0 inset; 
        */
}
@-moz-document url-prefix() {
.playlist {
        scrollbar-color: #777 #888;
        scrollbar-width: thin;
 }
}
.playlist {
        background: #3e3e46;
        height: 250px;
        overflow-y: scroll;
        margin: 6px;
        margin-bottom: 0;
        border: 1px solid #4f525a;
        border-radius: 3px;
        box-sizing: border-box;
        outline-offset: -2px
}
.playlist::-webkit-scrollbar {
        width: 8px;
}
.playlist::-webkit-scrollbar-track {
        background: #888;
        box-shadow: inset 0 0 2px #ffe;
        -webkit-border-radius: 8px;
        border-radius: 8px;
}
.playlist::-webkit-scrollbar-thumb {
        background: #777;
        -webkit-border-radius: 8px;
        border-radius: 8px;
}
.playlist::-webkit-scrollbar-thumb:hover {
        background: #555;
}
.playlist::-webkit-scrollbar-thumb:active {
        background: #444;
}
.track-name {
        color: #fff;
        font-size: 16px;
        margin-top: 6px;
}
.showhide {
        cursor: pointer;
        color: #eff0f5;
        width: 50px;
        text-align: center;
        background: #5a5b64;
        padding: 3px 6px;
        border-radius: 6px;
        margin-bottom: 12px;
        -webkit-box-shadow: rgb(255 255 255 / 10%) 0 2px 2px 0 inset;
        -moz-box-shadow: rgb(255 255 255 / 10%) 0 2px 2px 0 inset;
        box-shadow: rgb(255 255 255 / 10%) 0 2px 2px 0 inset;
}
.showhide:hover {
        color: #f3f3f7;
        background: #4e4f58;
}
.details {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
}
.buttons {
        display: flex;
        justify-content: center;
        margin-top: 6px;
}
.track-number {
        line-height: 20px;
        border-bottom: 1px solid #4f525a;
        padding-left: 4px;
        cursor: pointer;
}
.track-number:last-child {
        border: none;
}
.track-number:hover {
        background: #4c4f58;
}
.active {
        color: #fff;
        background: #585c64;
}
.playpause-track, .prev-track, .next-track {
        padding: 5px;
}
.playpause-track:hover, .prev-track:hover, .next-track:hover {
        color: white;
}
.slider_container {
        display: flex;
        margin-top: -6px;
        align-content: center;
        justify-content: center;
        align-items: center;
}
.volume_slider, .seek_slider {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 59%;
        height: 6px;
        background: #8a8ba7;
        border-radius: 5px;
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
        z-index: 120;
}
/*.volume_slider {
        width: 50%;
}
.seek_slider {
        width: 59%;
}*/
.volume_slider::-webkit-slider-thumb, .seek_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearence: none;
        appearance: none;
        width: 12px;
        height: 20px;
        background: white;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 30%;
}
input[type="range"]::-moz-range-thumb {
        width: 11px;
        height: 19px;
        background: white;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 30%;
}
.volume_slider:hover, .seek_slider:hover {
        opacity: 1.0;
}
.fa-volume-down, .fa-volume-up {
        padding: 10px 5px;
        font-size: 18px;
        min-width: 15px;
        max-width: 25px;
}
.volumevalue, .tracknumber {
        width: 50px;
}
.times {
        margin-bottom: 10px;
}
.times .current-time, .times .total-duration {
        margin: 0 12px;
}
.fa-play-circle, .fa-pause-circle, .fa-step-forward, .fa-step-backward {
        font-size: 22px;
        padding: 0 10px;
        cursor: pointer;
}
